@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    background-color: #eee;
    font-family: 'Calibri', sans-serif !important;
}

.mt-100{
   margin-top:100px;

}


.card {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
    box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
}

.card .card-header {
    background-color: #fff;
    border-bottom: none;
    padding: 24px;
    border-bottom: 1px solid #f6f7fb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}



.card .card-body {
    padding: 30px;
    background-color: transparent;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
    background-color: #cca772!important;
    border-color: #cca772!important;
}

.btn-primary:hover {
    background-color: #cca772e4!important;
}






header {
    width: 100%;
    height: 59px;
    background-color: #cca772;
    display: flex;
    padding: 0px 10%;
    justify-content: center;
        font-size: 18px;
            font-family: 'Lato';
}

.logo_top {
    width: 15%;
    height: 100%;
    border-right: .5px solid rgba(255, 255, 255, 0.59);
    padding-right: 12em;
}

.logo_top img {
    width: auto;
    height: 90%;
}

nav {
    max-width: 37%;
        min-width: 350px;
    line-height: 59px;
}
.navbar_nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0em 2em;

}

.navbar_nav li {
    list-style: none;
}

.li_active {
    height: 59px;
    border-bottom: 3px solid rgb(255, 255, 255);
}


.navbar_nav li a{
    color: white;
    text-decoration: none;
    list-style: none;
}

.navbar_nav li a:hover{
    color: rgba(255, 255, 255, 0.797);
}

.user_info {
    display: flex;
    flex-direction: row;
    line-height: 59px;
    padding-left: 20em;
    color: white;
    list-style: none;
}
.user_ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
        list-style: none;
        color: white;
}

.nav_item{
    margin-right: 2em;
    color: white;
}

.nav_link {
text-decoration: none;
        list-style: none;
        color: white;
}

.nav_link:hover {
text-decoration: none;
        list-style: none;
        color: rgba(255, 255, 255, 0.797);
}







