body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #d8d5d015;
}

header {
    width: 100%;
    height: 59px;
    background-color: #cca772;
    padding-top: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7000;
    box-shadow: 0 0 5px 2px #ccc;
}

main {
    padding-top: 59px;
    width: 100%;
    min-height: 913px;
    display: flex;
    justify-content: center;
}

.container {
    width: 960px;
    max-height: 1152px;
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
}

.main-content-left{
    position: relative;

}
.main-content-right{
    position: relative;
    max-height: 100%
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 582px;
}
.room-card-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 44rem;;
    overflow-y: auto;
    scrollbar-gutter: stable;
}
.room-card {
    max-width: 582px;
    height: 225px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid #cca77288;
}
.room-card-image img{
    width: 216px;
    height: 184px;
    border-radius: 20px 0px 0px 0px ;
}

.room-card-content {
    width: 366px;
    height: 100%;
    border-radius: 0px 20px 20px 0px ;
    padding-left: 20px;
}

.room-name h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 40px;
}

.room-number_of_person{

}

.room-info {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.room-info-special{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room-cost {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 25px;
    justify-content: right;
    margin-top: 20px;
    font-size: 120%;
    line-height: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cost-before {
    text-decoration: line-through;
}

.cost-after {
    margin-left: 5px;
    font-size: 130%;
    font-weight: bold;
}

#customer-detail {
    max-width: 582px;;
    min-height: 60px;
}

.customer-review {
    max-width: 582px;;
    min-height: 60px;
    border-radius: 0px 0px 15px 15px;
    background-color: #cca772;
}
.customer-dtails {
    margin-bottom   : 10px;
    max-width: 582px;
    border: 1px solid #cca77288;
    border-radius: 10px;
  }
/* Dropdown Button */
.dropbtn {
    background-color: white;
    width: 99.5%;
    border-radius: 10px;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    cursor: pointer;
  }

.dropbtn-detail {
    width: 50%;
}

  .dropbtn-icon {
    display: flex;
    justify-content: right;
    width: 49%;
  }



  #customer-detail-content{
    width: 100%;
    background-color: white;
    padding-left: 30px;
    border-radius: 0px 0px 10px 10px ;
    display: none;
  }

#customer-review {
    width: 582px;;
    min-height: 60px;
}

#customer-review-content{
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 10px 10px ;
    display: none;
  }

  #customer-payment-content{
    width: 100%;
    background-color: white;
    padding-left: 30px;
    border-radius: 0px 0px 10px 10px ;
    display: none;
    border: 1px solid #cca77288;
  }

  .customer-info {
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }

.customer-info_detail {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.customer-info_heading {
    width: 40%;
}

.customer-info_content {
    font-weight: bold;
}


.booking-summary {
    width: 330px;
    min-height: 320px;
    background-color: rgb(250, 250, 250);
    border: 1px solid #cca77288;
    position: fixed;
        margin-left: 1em;
    top: 70px;
    z-index: 7000;
    border-radius: 15px;
}
.button_checkout {
    padding: 10px;
}

.btn_checkout {
    width: 100%;
    height: 3.2em;
    margin-top: 1em;
    background-color: #cca772;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.btn_checkout:hover {
    background-color: #cca772f3;
    box-shadow: 0.2px 0.2px 2px rgb(179, 125, 43);
}

.booking-summary-info-top {
    width: 100%;
    border-bottom: 1px solid #cca77288;
    padding: 20px 20px 0px 20px;
}

.booking-summary-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-bottom: 12px;
}

.room-p_vnd {
    font-size: 20px;
    line-height: 20px;
}

.room-price {
    font-size: 20px;
    margin-left: 4px;
    line-height: 20px;
}

.room-p_total {
    font-size: 18px;
    margin-left: 4px;
    line-height: 22px;
}

.booking-summary-date_and_staynight {
    width: 100%;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.booking_space {
    width: 34px;
}

.booking-summary-accupancy-room {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.booking-summary-accupancy-number_of_guest {
    margin-left: 10px;
}


.booking-summary-stay-detail-heading {
    font-size: 120%;
    font-weight: bold;
    padding: 2rem 2rem .5rem 2rem;
}

.booking-summary-stay-detail-room-detail-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 20rem;;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.booking-summary-stay-detail-room-detail {
    padding: 2rem 0rem 0rem 2rem;
    border-bottom: 1px solid #cca77288;
    width: 92%;
}

.booking-summary-stay-detail-room-detail_name {
    font-size: 112%;
    font-weight: bold;
    margin-bottom: 15px;

}

.booking-summary-stay-detail-room-detail_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    line-height: 10px;
    margin-bottom: .8em;
}

.booking-summary-stay-detail-room-detail_info_space {
    width: 15%;
}

.booking-summary-stay-detail-room-detail_info_price {
    font-size: 130%;
    line-height: 21px;
    margin-bottom: 10px;
}

.booking-summary-stay-detail-total {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 150%;
    font-weight: 600;
}

.booking-summary-stay-detail-total_space {
}
.booking-summary-stay-detail-total_totalprice {
    display: flex;
    justify-content: right;
    float: right;
}






.payment{
    width: 100%;
    height: 100%;
    padding: 35px;
    border-radius: 5px;
    position: relative;
  }


.btn_submit_payment {
    width: 100%;
    height: 3.2em;
    margin-top: 1em;
    background-color: #cca772;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.btn_submit_payment:hover {
    background-color: #cca772f3;
    box-shadow: 0.2px 0.2px 2px rgb(179, 125, 43);
}

  .form .label{
    display: block;
    color: #555555;
    margin-bottom: 6px;
    text-align: left;
  }

  .input{
    padding: 13px 0px 13px 25px;
    width: 100%;
    text-align: center;
    border: 2px solid #dddddd;
    border-radius: 5px;
    letter-spacing: 1px;
    word-spacing: 3px;
    outline: none;
    font-size: 16px;
    color: #555555;
  }

  .card-grp{
    display: flex;
    justify-content: space-between;
  }

  .card-item{
    width: 48%;
  }

  .space{
    margin-bottom: 20px;
  }

  .icon-relative{
    position: relative;
  }

  .icon-relative .fas,
  .icon-relative .far{
    position: absolute;
    bottom: 12px;
    left: 15px;
    font-size: 20px;
    color: #555555;
  }

  .btn{
    margin-top: 40px;
    background: #2196F3;
    padding: 12px;
    text-align: center;
    color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
  }


  .payment-logo{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: #f8f8f8;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 85px;
  }

  .payment-logo:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 90px;
    height: 90px;
    background: #2196F3;
    border-radius: 50%;
  }

  .payment-logo p{
    position: relative;
    color: #f8f8f8;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 58px;
  }

   .customer_note {
      padding: 20px 10px 0px 10px;
      max-width: 100%;
    }

    .input_note {
      width: 100%;
      min-height: 3em;
      max-height: 5em;
      padding: 1em;
      display: flex;
      word-wrap: break-word;

    }


    .footer_cart {
        width: 100%;
        position:absolute;
        background-color: #ffffff98;
        display: flex;
        padding: 0px 10%;
        justify-content: center;
        border: .2px solid #dbd7d2;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        height:40px;
    }

    .footer_cart_logo {
        width: 30%;
        border-right: .1px solid #c6bcaf;
        display: flex;
        justify-content: center;
    }

    .footer_cart_content {
        max-width: 70%;
        max-height: 40px;
        display: flex;
        align-items: center;
        padding-left: 2em;
    }

    .footer_cart_logo a img {
       height: 33px;
       width: auto;
       margin-right: 2em;
    }


  @media screen and (max-width: 420px){
    .card-grp{
      flex-direction: column;
    }
    .card-item{
      width: 100%;
      margin-bottom: 20px;
    }
    .btn{
      margin-top: 20px;
    }

    @media screen and (min-width: 1920px){
        .booking-summary{
          left: 1185px;
        }
  }

  .form_group {
      margin-bottom: 60px;
  }