.hero-wrap {
  width: 100%;
  height: 600px;
  position: relative; }

.hero-wrap .overlay {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
content: '';
opacity: .2;
background: #000000;
}
  .hero-wrap .slider-text {
    color: #fff;
    height: 600px; }
    .hero-wrap .slider-text .breadcrumbs {
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 1px;
      margin-bottom: 20px;
      z-index: 99; }
      .hero-wrap .slider-text .breadcrumbs span {
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.7); }
        .hero-wrap .slider-text .breadcrumbs span a {
          color: #fff; }
    .hero-wrap .slider-text .bread {
      font-weight: 700;
      color: #fff;
      font-size: 60px;
      font-family: "Poppins", Arial, sans-serif; }
    .hero-wrap .slider-text .btn-primary {
      border: 1px solid rgba(255, 255, 255, 0.4);
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px; }
      .hero-wrap .slider-text .btn-primary:hover, .hero-wrap .slider-text .btn-primary:focus {
        background: #fff !important;
        color: #000000; }
.ftco-section .ftco-sub-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .5em;
  color: #d4d4d4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 300; }

.ftco-section .ftco-primary-title {
  margin-top: 0;
  margin-bottom: 30px; }