body {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.header-azure{
    background-color: #cca772;
}

.room-card {
    max-width: 100%;
    height: auto;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 0px;
    border: 1px solid #cca77288;
    font-size: 87.5%;
}
.room-card-image img{
    border-radius: 20px 0px 0px 0px ;
}
.room-name h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 40px;
}

.room-number_of_person{

}

.room-info {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.room-info-special{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room-cost {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: right;
    margin-top: 20px;
    font-size: 120%;
    line-height: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cost-before {
    text-decoration: line-through;
}

.cost-after {
    margin-left: 5px;
    font-size: 130%;
    font-weight: bold;
}

.room-card-2 {
    max-width: 100%;
    height: auto;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 0px;
    border: 1px solid #cca77288;
    font-size: 87.5%;
    padding: 10px 10px 10px 10px;
}
.carousel-control.left {
    background-image: none !important;
    background-image: none !important;
     background-image: none !important;
     background-image:none !important;
    filter: none !important;
    background-repeat: repeat-x;
}
.carousel-control.right {
    background-image: none !important;
    background-image: none !important;
     background-image: none !important;
     background-image:none !important;
    filter: none !important;
    background-repeat: repeat-x;
}
.nav-link.active,
.nav-link[aria-current="page"] {
  position: relative;
}

.nav-link.active:after,
.nav-link[aria-current="page"]:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleY(1);
  transform-origin: bottom;
}
a:focus, a:hover {
    text-decoration: none;
}


